.corpo{
    background-image: url("saude-digital.png");
    background-repeat: no-repeat;
    background-size: cover 
}


button {background-color: rgb(116, 208, 234);
    font-size: xx-large;
border: 0px solid #eee


}


footer { 
    background-color: rgb(37, 154, 162);}